@import '../scss/page/_page__header.scss';
@import '../scss/page/main/main__content';
@import '../scss/component/buttons.scss';
@import '../scss/component/elements.scss';
@import '../scss/base/null-style.scss';
@import '../scss/base/fonts.scss';

$bgColor: #F8F8F8; //#24292e ;
$text: #fff;
$colorWhite: #ffffff;



body {
  background-color: $bgColor;
  color: $text;
}

